body {
 
    font-family: "Work Sans", Arial, Verdana, sans-serif;
}

h1, h2, h3{
 
    font-family: "Kaushan Script", cursive;

}

p, ul, li {

    font-family: "Work Sans";
}  


#informacao{
    font-size: 1rem;

}