body {
 
    font-family: "Work Sans", Arial, Verdana, sans-serif;
}

h1, h2, h3{
 
    font-family: "Kaushan Script", cursive;

}

p, ul, li {

    font-family: "Work Sans";
}  


#informacao{
    font-size: 1rem;

}

/* Cores personalizadas */
.text-danger-custom {
    color: #e53939; /* Vermelho */
}

.bg-dark-custom {
    background-color: #000000; /* Preto */
}

.bg-red-custom {
    background-color: #e53939; /* Vermelho */
}

.text-white-custom {
    color: #ffffff; /* Branco */
}
